[submodule "bundle/delimitMate"]
  path = bundle/delimitMate
  url = https://github.com/Raimondi/delimitMate.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/molokai"]
  path = bundle/molokai
  url = https://github.com/tomasr/molokai.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/tabular"]
  path = bundle/tabular
  url = https://github.com/godlygeek/tabular.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/ultisnips"]
  path = bundle/ultisnips
  url = https://github.com/SirVer/ultisnips.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-airline"]
  path = bundle/vim-airline
  url = https://github.com/vim-airline/vim-airline.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-airline-themes"]
  path = bundle/vim-airline-themes
  url = https://github.com/vim-airline/vim-airline-themes.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-commentary"]
  path = bundle/vim-commentary
  url = https://github.com/tpope/vim-commentary.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-fedora-wwoods"]
  path = bundle/vim-fedora-wwoods
  url = https://fedorapeople.org/home/fedora/wwoods/public_git/vim-scripts.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-fugitive"]
  path = bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-gitgutter"]
  path = bundle/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-javascript"]
  path = bundle/vim-javascript
  url = https://github.com/pangloss/vim-javascript.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-jinja"]
  path = bundle/vim-jinja
  url = https://github.com/lepture/vim-jinja.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-node"]
  path = bundle/vim-node
  url = https://github.com/moll/vim-node.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-pathogen"]
  path = bundle/vim-pathogen
  url = https://github.com/tpope/vim-pathogen.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-ruby"]
  path = bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-signature"]
  path = bundle/vim-signature
  url = https://github.com/kshenoy/vim-signature.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-surround"]
  path = bundle/vim-surround
  url = https://github.com/tpope/vim-surround.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-tidy-whitespace-on-save"]
  path = bundle/vim-tidy-whitespace-on-save
  url = https://github.com/jchristi/vim-tidy-whitespace-on-save.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-ansible"]
  path = bundle/vim-ansible
  url = https://github.com/jchristi/ansible-vim.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-unimpaired"]
  path = bundle/vim-unimpaired
  url = https://github.com/tpope/vim-unimpaired.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-html5"]
  path = bundle/vim-html5
  url = https://github.com/othree/html5.vim.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "bundle/vim-svelte"]
  path = bundle/vim-svelte
  url = https://github.com/evanleck/vim-svelte.git
  shallow = true
  fetchRecurseSubmodules = false
[submodule "fonts/vim-powerline-fonts"]
  path = fonts
  url = https://github.com/powerline/fonts.git
  shallow = true
  fetchRecurseSubmodules = false
