[submodule "vim-powerline-fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = git@github.com:kshenoy/vim-signature.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git@github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = git@github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-tidy-whitespace-on-save"]
	path = bundle/vim-tidy-whitespace-on-save
	url = git@github.com:jchristi/vim-tidy-whitespace-on-save.git
